<?xml version="1.0" encoding="UTF-8"?>
<configuration
	xmlns="http://ch.qos.logback/xml/ns/logback"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
>

	<property name="LOGGED_APPLICATION_NAME"   value="mojito" />
	<property name="LOG_CORRELATION_PATTERN"   value="-" />

	<property name="CONSOLE_LOG_PATTERN"   value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(-){faint} %clr(${LOGGED_APPLICATION_NAME:-} [%15.15t]){faint}%clr( ${LOG_CORRELATION_PATTERN:-}){faint} %clr(%-70.70logger){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
	<property name="CONSOLE_LOG_CHARSET"   value="${CONSOLE_LOG_CHARSET:-${file.encoding:-UTF-8}}"/>
	<property name="CONSOLE_LOG_THRESHOLD" value="${CONSOLE_LOG_THRESHOLD:-TRACE}"/>
	<property name="FILE_LOG_PATTERN"      value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd'T'HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } - ${LOGGED_APPLICATION_NAME:-}[%t] ${LOG_CORRELATION_PATTERN:-}%-70.70logger : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />
	<property name="FILE_LOG_CHARSET"      value="${FILE_LOG_CHARSET:-${file.encoding:-UTF-8}}"/>
	<property name="FILE_LOG_THRESHOLD"    value="${FILE_LOG_THRESHOLD:-TRACE}"/>


	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<logger level="OFF" name="jdbc.sqltiming"/>

	<logger level="OFF" name="org.springframework.beans.factory.support.DefaultListableBeanFactory" />
	<logger level="OFF" name="org.springframework.boot.autoconfigure" />

	<logger level="DEBUG" name="org.springframework" />
	<logger level="DEBUG" name="kr.mojito.maldive.oneshot" />

<!-- 	<typeAliases></typeAliases> -->
<!-- <typeAliases></typeAliases> -->
</configuration>
