<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<!--
	<databaseIdProvider type="">
	</databaseIdProvider>
	<typeHandlers>
		<package name="kr.mojito.maldive.oneshot._bootstrap.mybatis.typehandler" />
	</typeHandlers>
	-->
	
	<!-- 별칭 -->
	<typeAliases>
		<!-- <typeAlias type="com.example.vue.menu.vo.MenuVO" alias="menuVO"/> -->
		<typeAlias alias="CemelcaseMap" type="kr.mojito.maldive.oneshot._bootstrap.mybatis.util.CemelcaseMap" />
	</typeAliases>
	
	<typeHandlers>
		<package name="kr.mojito.maldive.oneshot._bootstrap.mybatis.typehandler" />
	</typeHandlers>

</configuration>